h1{
	margin: 25px;
}
h2{
	margin: 25px;
}
body{
	text-align: center;
	font-family: verdana, arial;
	background-color: #EEE;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
}
li{
	background-color: #234;
}
a{
	text-decoration: none;
}
.nav-box{
	  text-decoration: none;
	  background-color: #DDD;
	  color: #333;
	  padding: 5px 10px 5px 10px;
	  border-radius: 10px;
	  border-top: 2px solid #333;
	  border-right: 2px solid #333;
	  border-bottom: 2px solid #333;
	  border-left: 2px solid #333;
	  cursor: pointer;
}
.nav-box:hover{
	background-color: #CCC;
}
.main-box{
	margin: 25px auto 25px auto;
	padding: 20px;
	height: auto;
	width: 80%;
	background-color: #FFF;
	max-width: 1000px;
	border-radius: 15px;
	border: solid;
	
	box-shadow: 3px 3px 5px 0px;
}
#html-css-js-logos{
	width: 25%;
	max-width: 500px;
	margin: 10px;
}
.links{
	margin: 12px;
	display: block;
}

.progress-bar-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 35%;
	background-color: #555;
	margin: auto;
}
.progress-bar {
	height: 100%;
	width: 100%;
	background-color: #2B2;
}
.progress-bar-back {
	height: 80%;
	width: 97%;
	background-color: #FFF;
}

#object{
	font-size: 100px;
	margin: 100px;;

}
.rps{
	width: 75%;
}
.rps-buttons{
	text-decoration: none;
	  background-color: #DDD;
	  color: #333;
	  padding: 10px 15px 10px 15px;
	  border-radius: 20px;
	  border-top: 2px solid #333;
	  border-right: 2px solid #333;
	  border-bottom: 2px solid #333;
	  border-left: 2px solid #333;
	  cursor: pointer;
	  font-size: 18px;
	  margin: auto;
}
.score{
	margin: auto;
}